/* Цвет основного текста: #757575 */
/* Цвет титулов: #212121 */
/* Акцент: #2196F3 */
/* Цвет адрессных ссылок: #FFFFFF99 */
/* Основной цвет фона: #FFFFFF */
/* Цвет фона вторичный: #F5F4FA */
/* Минорный цвет фона: #EEEEEE */
/* Цвет фона Hero */
/* Белый: rgba(255, 255, 255, 1) */
/* Цвет фона Footer #2F303A */
/* Цвет рамки хедера #ECECEC */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --addres-links-color: #ffffff99;
  --basic-backgroud-color: #ffffff;
  --background-color: #f5f4fa;
  --minor-bgc: #eeeeee;
  --hero-bgc: #2f303a;
  --footer-bgc: #2f303a;
  --white-color: #fff;
  --black-color: #212121;
  --header-border-color: #ececec;
  --portfolio-card-box-nmbr-row: 3;
  --item-gap: 30px;
  --item-border-size: 1px;
  --card-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  --team-list-item-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  --team-item-n-row: 4;
}
/* html {
  box-sizing: border-box;
}
*,
::before,
::after {
  box-sizing: inherit;
} */
/* Для элемента <body> задано свойство font-family с доминантным на макете шрифтом Roboto. */
body {
  font-family: 'Roboto', 'Tahoma', sans-serif;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--basic-backgroud-color);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
h1 {
  margin-bottom: 30px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
address {
  font-style: normal;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
/* Параметры границы Header*/
.brd {
  border-bottom: 1px solid var(--header-border-color);
}
/* Логотип */
.studio-logo {
  color: var(--black-color);
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
/* Стиль дополнительного цвета логотипа */
.web-effect {
  color: var(--accent-color);
  /* Header */
}
/* Псевдоклассы состояния - Активируется когда курсор мыши находится в пределах элемента, 
например при наведении мыши на ссылку или любой другой элемент. 
Текст контактов в хедере и футере меняет цвет при ховере и фокусе. */
.header .studio-contacts {
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.header .studio-contacts:hover,
.header .studio-contacts:focus {
  color: var(--accent-color);
}
.studio-nav {
  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.studio-nav:hover,
.studio-nav:focus {
  color: var(--accent-color);
}
.studio-nav.current {
  color: var(--accent-color);
}
/* Principal section */
.principal-section-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}
.principal-section {
  background-color: var(--hero-bgc);
}
.order-button {
  background: var(--accent-color);
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: ;
  color: var(--title-text-color);
}
.section-title.visually-hidden,
.portfolio-title.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* Features */
.features .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
}
.features-p-style {
  line-height: 1.71;
}
/* Our Team */
.section.team {
  background-color: var(--background-color);
}
.team .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--title-text-color);
}
.team.list > .item {
  background: var(--basic-backgroud-color);
}
.team-unit {
  font-size: 16px;
  line-height: 1.18;
  text-align: ;
}
/* Footer */
.footer .studio-contacts {
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  color: var(--addres-links-color);
}
.footer .studio-logo {
  color: var(--white-color);
  display: inline-block;
  margin-bottom: 20px;
}
.address-item:not(:last-child) {
  margin-bottom: 9px;
}
.footer .studio-address:hover,
.footer .studio-contacts:hover,
.footer .studio-address:focus,
.footer .studio-contacts:focus {
  color: var(--accent-color);
}
.footer {
  background-color: var(--footer-bgc);
}
.studio-address {
  font-weight: 400;
  line-height: 1.71;
  color: var(--white-color);
}
.suscribe {
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-color);
}
.subscribe-btn {
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-color);
}
/* Projects Portfolio */
.projects .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  margin-bottom: 4px;
}
.projects .project-unit {
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-text-color);
}
/* Projects Filter Buttons */
.filter-button {
  background-color: rgba(245, 244, 250, 1);
  border: none;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--title-text-color);
  cursor: pointer;

  padding: 5px 22px;
}
.filter-button:hover,
.filter-button:focus {
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--white-color);
}
/* Геометрия и позиционирование элементов */
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.list {
  padding: 0;
  margin: 0;
}
.title {
  padding: 0;
  margin: 0;
}
.intro.container {
  display: flex;
  align-items: center;
}
.nav .list {
  display: flex;
  margin-left: 93px;
}
.nav .list > .item:not(:last-child) {
  margin-right: 50px;
}
.studio-nav.link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.list.contacts {
  display: flex;
  margin-left: auto;
}
.section-title {
  padding: 0;
  margin: 0;
}
.features-p-style {
  padding: 0;
  margin: 0;
}
.team-unit {
  padding: 0;
  margin: 0;
}
.principal-section {
  padding: 200px 0px;
}
.principal-section .container {
  text-align: center;
}
.order-button {
  align-items: center;
  text-align: center;
  display: inline-block;
  border: none;
  border-radius: 4px;
  padding: 10px 32px;
}
.section.features {
  padding-top: 99px;
  padding-bottom: 99px;
}
.features.list {
  display: flex;
  flex-wrap: wrap;
}
.features.list > .item {
  flex-basis: calc((100% - 90px) / 4);
}
.features.list > .item:not(:last-child) {
  margin-right: var(--item-gap);
}
.profile {
  padding-bottom: 94px;
}
.container.lower .section-title {
  text-align: center;
}
.tools .list {
  display: flex;
  flex-wrap: wrap;
}
.tools .list .item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 0;
}
.tools .list .item:nth-child(3n) {
  margin-right: 0;
}
.features.list .title {
  margin-bottom: 10px;
}
.profile .section-title {
  margin-bottom: 50px;
}
.section.team {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section.team .section-title {
  text-align: center;
}
.section.team .section-title {
  margin-bottom: 50px;
}
.team .card-label {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team.list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}
.team.list > .item {
  box-shadow: var(--team-list-item-shadow);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}
.team.list > .item:not(:last-child) {
  margin-right: var(--item-gap);
}
.team .title {
  margin-bottom: 10px;
}
.clients.list {
  display: flex;
  flex-wrap: wrap;
}
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}
.subscribe-btn {
  border: 1px solid transparent;
  min-width: 200px;
  height: 50px;
  border-radius: 4px;
  padding: 10px 28px;
  text-align: center;
}
.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}
.projects-filter.list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filter-item {
  margin-right: 8px;
}
.filter-item:last-of-type {
  margin-right: 0px;
}
.projects-filter.list > .item:nth-child(5) {
  margin-right: 0;
}
.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}
.projects.list {
  display: flex;
  flex-wrap: wrap;

  margin-right: calc(-1 * var(--item-gap));
  margin-bottom: calc(-1 * var(--item-gap));
}
.projects.list > .item {
  flex-basis: calc(
    100% / var(--portfolio-card-box-nmbr-row) - (var(--portfolio-card-box-nmbr-row)-1)
  );
  margin-right: var(--item-gap);
  margin-bottom: var(--item-gap);
}
.item-card .title {
  margin-bottom: 4px;
}
.projects.list .item-card {
  overflow: hidden;
}
.card-label {
  padding: 20px 24px;
  border-bottom: 1px solid var(--minor-bgc);
  border-left: 1px solid var(--minor-bgc);
  border-right: 1px solid var(--minor-bgc);
}
